<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>物业管理</title>
</head>
<body>
    <h1>物业列表</h1>
    <a href="{% url 'property_add' %}">添加物业</a>
    <ul>
        {% for property in properties %}
            <li>
                {{ property.name }} - {{ property.location }}
                <a href="{% url 'property_edit' property.id %}">编辑</a>
                <a href="{% url 'property_delete' property.id %}">删除</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html> 